# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/.vs/Vertex
*bin/*
**bin-int/**/**/**/**/**/
*.user
*.pyc
*.vcxproj
/vendor/premake/bin
*.filters
*.bak
/bin/Release-windows-x86_64
/bin-int/Release-windows-x86_64
/Engine/vendor/glad/bin/Release-windows-x86_64/Glad
/Engine/vendor/glad/bin-int/Release-windows-x86_64/Glad
/Engine/vendor/glad/bin/Debug-windows-x86_64/Glad
/Engine/vendor/glad/bin-int/Debug-windows-x86_64/Glad/Glad.tlog
/Engine/vendor/glad/bin-int/Debug-windows-x86_64/Glad
/bin/Dist-windows-x86_64/Engine
/bin-int/Dist-windows-x86_64
/Engine/vendor/glad/bin-int/Dist-windows-x86_64/Glad
/Engine/vendor/VertexOopsFormat/obj/Release
/Engine/vendor/VertexOopsFormat/bin/Release
/Engine/vendor/VertexOopsFormat
/Vertex.sln
*.sln
*bin*
/Vertex.sln

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
