[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/zlib"]
	path = Engine/vendor/zlib
	url = https://github.com/iojuedioe9rd/zlib-premake
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/iojuedioe9rd/glm
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/iojuedioe9rd/glfw
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/iojuedioe9rd/imgui
[submodule "Engine/vendor/ImGuizmo"]
	path = Engine/vendor/ImGuizmo
	url = https://github.com/iojuedioe9rd/ImGuizmo
[submodule "Engine/vendor/Box2D"]
	path = Engine/vendor/Box2D
	url = https://github.com/iojuedioe9rd/box2d
[submodule "Engine/vendor/yaml-cpp"]
	path = Engine/vendor/yaml-cpp
	url = https://github.com/iojuedioe9rd/yaml-cpp
